<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring Fun App - Grid</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css" th:href="@{/styles/main.css}" />
</head>
<body>
    <div class="home">
        <div id="grid"></div>
    </div>
    <script src="libs/jquery-3.2.1.min.js" th:src="@{/libs/jquery-3.2.1.min.js}"></script>
    <script src="libs/d3.min.js" th:src="@{/libs/d3.min.js}"></script>
    <script src="scripts/utils.js" th:src="@{/scripts/utils.js}"></script>
    <script src="scripts/main.js" th:src="@{/scripts/main.js}"></script>
</body>
</html>